body {
    margin: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: rgb(250, 197, 137);
    height: 25vh;
    width: 100%;
    position: relative;
}

.propic {
    position: absolute;
    top: calc(25vh - 15vh);
    left: 5%; 
    height: 30vh; 
    width: 28vh;  
}

.name{
    position: absolute;
    left: 5%;
    top: 44vh;
    font-size: 30px;
    font-weight: bold;
}

.about{
    position: absolute;
    left: 8%;
    top: 50vh;
}

.about > h1{
    font-size: 20px;
    margin: 0;
}

.about > p{
    font-size: 15px;
    margin: 0;
}

.checker{
    position: absolute;
    left: 8%;
    top: 65vh;
}

.checker > h1{
    font-size: 20px;
    margin: 0;
}

.result{
    position: absolute;
    left: 10%; 
    top: 50vh; 
    font-size: 15px;
}



